$font-1: WorkSans;
$font-2: Lora;
$font-weight-default: 600;

$text-XL: 88px;
$text-L: 64px;
$text-M: 32px;
$text-S: 16px;

$color-black: #000;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.2);
$color-grey: #222222;

$spacing-L: 100px;
$spacing-M: 64px;
$spacing-S: 24px;
$spacing-XS: 16px;
$spacing-XXS: 8px;