@use "./reset"; 
@use "./mixin";
@use "./variable" as var;

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

body {
  font-family: var.$font-1;
  font-weight: var.$font-weight-default;
  color: var.$color-white;
	background-color: var.$color-black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var.$font-weight-default;
}

h1, h2 {
	font-size: var.$text-XL;
	font-family: var.$font-2;
}

.font-2 {
	font-family: var.$font-2;
}

.text-L {
	font-size: var.$text-L;
}

.text-M {
	font-size: var.$text-M;
}

.text-dark {
	color: var.$color-black;
}

.text-transparent-stroke {
	-webkit-text-stroke: 1px var.$color-white;
	color: transparent;
}

.bg-bright {
	background-color: var.$color-white;
}

.btn {
	padding: var.$spacing-XS calc(var.$spacing-XS * 2);
	background-color: var.$color-black;
	font-size: 1.25rem;
	border: 1px solid var.$color-white;
	transition: all 500ms linear;

	&:hover {
		color: var.$color-black;
		background-color: var.$color-white;
	}
}

// =============================================
// 											Hero
// =============================================

.hero {
	height: 100vh;
	text-align: center;
	padding: 0 var.$spacing-L var.$spacing-L;
	@include mixin.flex(var.$spacing-L, unset, center, column);

	.line {
		width: 4px;
		flex: 1;
		background-color: var.$color-grey;
	}

	article {
		@include mixin.flex(var.$spacing-XS, unset, unset, column);

		h1 {
			line-height: 0.8em;

			span {
				display: block;
			}
		}
	}

	nav {
		width: 100%;
		@include mixin.flex(unset, space-between);
	}
}

// =============================================
// 											Info
// =============================================

.info {
	padding: var.$spacing-L calc(var.$spacing-L * 2) var.$spacing-L var.$spacing-L;
	background: url(../img/map.svg) bottom var.$spacing-L right no-repeat;
	background-size: auto calc(var.$spacing-M * 4 + var.$text-L * 3 * 1.2 + 3rem * 1.2);
	@include mixin.flex(var.$spacing-M, unset, unset, column);

	h2 {
		padding-bottom: var.$spacing-M;
	}
}

// =============================================
// 											merch
// =============================================

.merch {
	position: relative;
	padding: calc(calc(var.$spacing-L * 4)) 25% calc(var.$spacing-L * 2.4);
	
		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			height: 700px;

			img {
				$img-large: 300px;
				$img-small: 240px;
				$img_position-list: (
					($img-large, -100px, 20%, auto, auto), 
					($img-small, 15%, auto, auto, 2%), 
					($img-small, 30%, 0, auto, auto),
					($img-large, 50%, auto, auto, 20%),
					($img-large, 55%, 20%, auto, auto),
					($img-small, 72%, auto, auto, 0),
					($img-large, auto, 20%, -100px, auto)
					);
	
				@include mixin.img_position-list($img_position-list...)
			}
		}
	}

// =============================================
// 											goldenBear
// =============================================

.goldenBear {
	padding: calc(var.$spacing-L * 2 + var.$spacing-S) var.$spacing-L 0;

	@include mixin.article();
	
	@include mixin.img_overlap(end);

	.images img:nth-of-type(2) {
				margin-bottom: calc(var.$spacing-L - 10px);
			}
		}

// =============================================
// 											poppyBear
// =============================================

.poppyBear {
	margin-top: calc(var.$spacing-L * -1);
	padding: calc(var.$spacing-L * 4) var.$spacing-L var.$spacing-L;
	position: relative;
	z-index: -1;
	overflow: hidden;

	@include mixin.article();

	& > img {
		$img-offset: 120px;
		@include mixin.absolute_position(400px, -$img-offset, -$img-offset, auto, auto);
		animation: rotate 12s linear infinite;

		@keyframes rotate {
			0% {
				transform: rotate(0deg)
			};

			100% {
				transform: rotate(360deg);
			}
		}
	}

	@include mixin.img_overlap();
}

// =============================================
// 											Footer / Join Us
// =============================================

.join {
	padding: var.$spacing-L;
	position: relative;
	overflow: hidden;

	.banner {
		@include mixin.absolute_position(auto, 630px, -1180px, auto, auto);
		transform: rotate(45deg);
		white-space: nowrap;
		animation: move 12s linear infinite alternate;

		* {
			font-size: var.$text-XL;
		}

		.text-transparent-stroke {
			-webkit-text-stroke-color: var.$color-black;
		}

		@keyframes move {
			from {
					transform: rotate(45deg) translateX(0%);
			}

			to {
					transform: rotate(45deg) translateX(-50%);
			}
		}
	}

	article {
		width: calc((100% - var.$spacing-XM) / 2);

		*:not(:first-child) {
			margin-top: var.$spacing-S;
		}
	}

	.footer {
		margin-top: var.$spacing-M;
		@include mixin.flex(unset, space-between);

		.footer-left {
			& > *:not(:first-child) {
				margin-top: var.$spacing-XXS;
			}

			.socials {
				@include mixin.flex(var.$spacing-XXS);

				img {
					height: 20px;
				}
			}
		}

		.footer-right {
			@include mixin.flex( unset, unset, end);
		}
	}
}