@use "./reset";
@use "./mixin";
@use "./variable";

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

body {
  font-family: variable.$font-1;
  font-weight: variable.$font-weight-default;
  color: variable.$color-white;
	background-color: variable.$color-black;
	// overflow: hidden;
}

section {
	padding: 0 variable.$spacing-L;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: variable.$font-weight-default;
}

h1, h2 {
	font-size: variable.$text-XL;
	font-family: variable.$font-2;
}

.font-2 {
	font-family: variable.$font-2;
}

.text-L {
	font-size: variable.$text-L;
}

.text-M {
	font-size: variable.$text-M;
}

.text-dark {
	color: variable.$color-black;
}

.text-transparent-stroke {
	-webkit-text-stroke: 1px variable.$color-white;
	color: transparent;
}

.bg-bright {
	background-color: variable.$color-white;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.btn {
	padding: variable.$spacing-XS variable.$spacing-S;
	background-color: variable.$color-black;
	font-size: 1.25rem;
	border: 1px solid variable.$color-white;
}

// =============================================
// 											Hero
// =============================================

.hero {
	height: 100vh;
	text-align: center;
	padding-bottom: variable.$spacing-L;
	justify-content: space-between;

	.line {
		width: 4px;
		flex: 1;
		// What is the goal with the line.
		// height: 33vh;
		background-color: variable.$color-grey;
		text-align: center;
		margin: 0 auto;
	}

	article {
		// can remove if line shouldn't be as big and set % height on .line
		margin: variable.$spacing-L 0;

		h1 {
			padding: variable.$spacing-XS;
			// how to handle this spacing? Should Design be changed or could i do something ?
			line-height: 0.8em;

			span {
				display: block;
			}
		}
	}
}

// =============================================
// 											Info
// =============================================

.info {
	margin: variable.$spacing-L 0;
	padding-right: 0;

	h2 {
		padding-right: calc(variable.$spacing-L * 2);
	}

	& > *:not(:first-child) {
		padding-top: variable.$spacing-M;
	}

	.stats {
	background: url(../img/map.svg) bottom right / auto  no-repeat;
	
		& > *:not(:first-child) {
			padding-top: variable.$spacing-M;
		}
	}
}

// =============================================
// 											merch
// =============================================

.merch {
	display: flex;
	justify-content: center;
	position: relative;
	
	article {
		width: 50%;
		padding: calc(variable.$spacing-L * 4) 0;

		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			height: 700px;

			.img-large {
				width: 300px;
			}

			.img-small {
				width: 240px;
			}

			img {
				position: absolute;

				&:nth-of-type(1) {
					top: -100px;
					right: 20%;
				}
				&:nth-of-type(2) {
					top: 15%;
					left: 2%;
				}
				&:nth-of-type(3) {
					top: 30%;
					right: 0; 
				}
				&:nth-of-type(4) {
					top: 50%;
					left: 20%;
				}
				&:nth-of-type(5) {
					top: 55%;
					right: 20%;
				}
				&:nth-of-type(6) {
					top: 72%;
					left: 0;
				}
				&:nth-of-type(7) {
					bottom: -100px;
					right: 20%;
				}
			}

		}
	}
}

// =============================================
// 											goldenBear
// =============================================

.goldenBear {
	padding-top: calc(variable.$spacing-L * 2 + variable.$spacing-S);

	@include mixin.article();
	
	.images {
		display: flex;
		align-items: end;

		img {
			min-width: 10px;
			position: relative;

			&:nth-of-type(1) {
				left: 50px;
			}

			&:nth-of-type(2) {
				height: 66%;
				right: 50px;
				margin-bottom: calc(variable.$spacing-L - 10px);

			}
		}
	}
}

// =============================================
// 											poppyBear
// =============================================

.poppyBear {
	margin-top: calc(variable.$spacing-L * -1);
	padding: calc(variable.$spacing-L * 4) variable.$spacing-L variable.$spacing-L;
	position: relative;
	z-index: -1;
	overflow: hidden;


	@include mixin.article();

	& > img {
		width: 400px;
		position: absolute;
		right: -120px;
		top: -120px;
	}

	.images {
		display: flex;
		align-items: center;

		img {
			min-width: 10px;
			position: relative;

			&:nth-of-type(1) {
				left: 50px;
				height: 66%;
				z-index: 1;
			}

			&:nth-of-type(2) {
				right: 50px;

			}
		}
	}
}

// =============================================
// 											Footer / Join Us
// =============================================

.join {
	padding: variable.$spacing-L;
	position: relative;
	overflow: hidden;

	.banner {
		position: absolute;
		transform: rotate(45deg);
		right: -282px;
		top: 200px;

		* {
			font-size: variable.$text-XL;
		}

		.text-transparent-stroke {
			-webkit-text-stroke-color: variable.$color-black;
		}
	}

	article {
		width: calc((100% - 80px) / 2);

		*:not(:first-child) {
			margin-top: variable.$spacing-S;
		}
	}

	.footer {
		margin-top: variable.$spacing-M;
		display: flex;
		justify-content: space-between;

		.footer-left {

			& > *:not(:first-child) {
				margin-top: variable.$spacing-XXS;
	
			}

			.socials {
				display: flex;
				gap: variable.$spacing-XXS;

				img {
					height: 20px;
				}
			}
		}
		

		.footer-right {
			display: flex;
			align-items: end;
		}
	}
}